body {
    padding: 0;
    margin: 0;

    min-height:100%;
}
html{
    height:100%;
    min-height:100%;
}
a{
    cursor: pointer;
}
/*Свойства для отображение верхней панели*/
.main-header {
    min-height: 150px;
    background: radial-gradient(circle at right bottom, #e40066 0, #1d3691 100%);
    height: 50vh;
    color: #fff;
}
.main-header img {
    position: absolute;
}
.main-header>h1 {
    font-size: calc(15px + 5vw);
    line-height: 50vh;
    text-align: center;
    margin-bottom: -45vh;
    margin-top: -30px;
}
.main-header>p {
    font-size: 2.2vw;
    line-height: 70vh;
    text-align: center;
    margin: auto;
    margin-top: -30px;
}
.main-header-links a,.main-header-links label {
    text-decoration: none;
    float: right;
    font-size: 25px;
    color: #fff;
    margin: 10px;
    margin-top: -28px;
    position: relative;
}
.main-header-links a:after,.page-footer a:after,.load-more a:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #eb5055;
    transition: 0.3s;
    transform: scaleX(0);
}
.main-header-links a:hover:after,.page-footer a:hover:after,.load-more a:hover:after  {
    visibility: visible;
    transform: scaleX(1);
}
.main-header-links,.username {
    position: absolute;
    right: 15px;
}
.username p{
    float: right;
    position: relative;
    color:#000;
    margin-top: 0px;
}
/*Медиа-запросы*/
@media(max-height:300px) {
    .main-header h1 {
        margin-bottom: 0;
        line-height: 120px;
    }
    .main-header p {
        line-height: 10px;
    }
}

@media(max-width:800px) {
    .main-header h1 {

    }
    .main-header p {
        font-size: 13px !important;
    }
    .single-news,.one-page {
        width: 90% !important;
    }
    .single-news h1,.one-page h1 {
        font-size: 28px !important;
    }
    .single-news p ,.one-page p{
        font-size: 13px !important;
    }
    .single-news a,.one-page a {
        font-size: 13px !important;
    }
}
/*Отображение одиночной новости и некоторых её фрагментов(например,картинок)*/
.single-news {
    width: 700px;
    background-size: cover;
    margin: 10px auto 10px;
    padding: 24px 24px 0 24px;
    background: #fff;
    border-bottom: 1px solid #CAD8DE;
    color: #000;
}
.data-content>h1{
    text-align:center;
    font-size: 3.0vw;
    font-family: Arial, sans-serif;
    line-height: 1.0;
    color: #4A4A4A;}
.single-news a {
    display: block;
    margin-top: -20px;
    text-decoration: none;
    font-style: italic;
}
.image-header img {
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: 1s ease-out;
}
.image-header img:hover {
    transform: scale(1.05);
}
.image-header {
    height: 300px;
    overflow: hidden;
}
.single-news h1 {
    font-size: 3.0vw;
    font-family: 'Poppins', sans-serif;
    line-height: 1.0;
    color: #4A4A4A;
}
.single-news p,.single-news a {
    font-size: 1.5vw;
    line-height: 1.7em;
}
/*автор,дата и хэштеги*/
.author {
    color: #9EABB3;
}
.post-date {
    color: #9EABB3;
    margin-left: 8px;
    padding-left: 12px;
    border-left: #d5dbde 1px solid;
}
.hashteg:before {
    content: "#";
}
.hashteg {
    text-decoration: underline;
    color: rgb(66, 176, 244)
}
/*Футер и кнопка load more*/
.page-footer {
    width: 100%;
    background-color: #333333;
    color: #999;
    position: fixed;
    bottom: 0px;
}
.page-footer p {
    text-align: center;
    margin: 0;
}
.page-footer a {
    text-decoration: none;
    color: #fff;
    position: relative;
}
.load-more {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}
.load-more a {
    font-size: 3.0vw;
    position: relative;
}
/*Панель поиска*/
.search-link {
    margin-left: 150px;
    margin-top: 20px;
    display: inline-block;
    width: 200px;
}
.search-link a {
    padding: 0;
    text-decoration: none;
    padding-left: 10px;
    font-size: 25px;
    color: #fff;
}
.search-link:hover .search-panel {
    top: 0px;
    z-index: 1000;
    background: #000;
    opacity: 0.8;
}
.search-panel {
    margin-left: -150px;
    position: absolute;
    top: -999px;
    height: 100%;
    width: 400px;
    opacity: 0;
    transition: 1s opacity;
    overflow: auto;
    padding: 10px;
}
.search-panel p {
    text-align: left;
    font-size: 1.2vw;
    line-height: 2vh;
}
.search input {
    border: none;
}
.search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}
.search .input:focus {
    background: #E8E8E8;
    color: #333;
}
.search-panel>a {
    display: block;
    padding-top: 20px;
}
/*Новость на отдельной странице*/
.one-page .image-header {
    height: auto;
}
.one-page{
    width: 700px;
    margin:10px auto 10px;
    padding: 24px 24px 0 24px ;
    border-bottom: 1px solid #CAD8DE;
    color: #000;}
.one-page .image-header img:hover{
    transform: none;
}
.one-page .image-header img{

    border-radius: 5px;
    vertical-align:middle;
    width:100%;}
.data-content>h1{
    text-align:center;
    font-size: 3.0vw;
    font-family: Arial, sans-serif;
    line-height: 1.0;
    color: #4A4A4A;}
.one-page p{
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom:10px;
    color: #444;}
.one-page figcaption {
    font-size: 20px;
    margin: 0 auto 15px;
    color: #7f7f7f;
    font-style:italic;}
.one-page .other-links a {
    transition: color 0.1s;
    text-decoration: none;
    color: #4A4A4A;
    position: relative;
    z-index:100;}
.one-page .other-links a:before {
    width: 100%;
    content: '';
    border-bottom: 2px solid #e40077;
    transition: all 0.1s;
    bottom: -1px;
    left: -2px;
    position: absolute;
    padding: 0 2px;
    z-index:-1;}
.one-page .other-links a:hover {color: #fff;}
.one-page .other-links a:hover:before {border-bottom: 20px solid #e40077;}
/*Кнопки редактирования и удаления*/
.redact-buttons a {  display: inline;  }
.tick:after,.tickInOnePage:after{   content: "✐";  }
.cross:after,.crossInOnePage:after{  content: "✖";  }
.tick:hover:after,.tickInOnePage:hover:after{
    color:#83d244;
    text-shadow:0px 0px 6px #83d244;  }
.cross:hover:after,.crossInOnePage:hover:after{
    color:#eb2f2f;
    text-shadow:0px 0px 6px #eb2f2f;  }
/*Меню фильтрации по тегам*/
select[multiple]{  overflow:  hidden;  }
/*Форма входа на сайт*/
.loginForm {
    width: 300px;
    padding: 24px 24px 0 24px ;
    margin: 200px auto ;
    background: #FEFEFE;
    border: 1px solid #CAD8DE;
    border-radius: 12px 12px 0 0 ;
    font: 14px Arial, sans-serif;
    color: #444;
}
.loginForm .field {
    margin-bottom: 20px;
}
.loginForm .field label {
    display: block;
    margin-bottom: 20px;
}
.loginForm .field input {
    font: 12px Arial,sans-serif;
    color: #444;
    width: 260px;
    padding: 9px 13px;
    border: 1px solid #D2D9DC;
    border-radius: 4px 4px 0 0 ;
    box-shadow: inset 2px 2px 6px #EBEBEB;
}
.loginForm .submit {
    overflow: hidden;
    margin: 30px -24px 0;
    padding: 22px 24px;
    background: #F0F5F7;
    border-top: 2px solid #DDE0E8;
    border-radius: 0 0 4px 4px;
    font-size: 11px;
}
.loginForm .submit button {
    margin-top:-8px;
    padding: 6px 20px;
    height: 30px;
    border: 1px solid #98CCE7;
    border-radius: 2px;
    color: #FFF;
    font: bold 13px Arial, sans-serif;
    background-color: #9FD7F0;
    cursor: pointer;
}
.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 19, 118, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    transform: translate(-50%, 0);
    top: 0;
}
.modal-dialog {
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -500%);
    transition: transform 0.4s ease-out;
    width: 80%;
    max-width: 500px;
    z-index: 103;
}
/*Страницы добавления/редактирования новости*/
textarea,.tags-input{
    width: 100%;
    background: none repeat scroll 0% 0% rgba(255, 218, 175,0.3);
    border: 2px ridge rgba(127, 69, 0,0.3);
    color: #7f4500;
    line-height: 1.5em;
    padding: 5px;
    outline:none;
}
.add-news-button,.step-forward-button{
    position: relative;
    padding: 0px 40px;
    margin: 0px 10px 25px 0px;

    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;

    outline: none;
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}
.search-tag{
    border:none;
    outline: none;
}
.search-tag option{
    background-color:#000;
    color:#fff;
    border:none;
    padding-left: 10px;
}

.tags-to-add-or-edit{
    color: #7f4500;
    font-style: italic;
}