body {
  background: #E8EEF0;
}
.loginForm {
	width: 300px;
	padding: 24px 24px 0 24px ;
	margin: 200px auto ;
	background: #FEFEFE;
	border: 1px solid #CAD8DE;
	border-radius: 12px 12px 0 0 ;
	font: 14px Arial, sans-serif;
	color: #444;
}
.loginForm .field {
	margin-bottom: 20px;
}
.loginForm .field label {
	display: block;
	margin-bottom: 20px;
}
.loginForm .field input {
	font: 12px Arial,sans-serif;
	color: #444;
	width: 260px;
	padding: 9px 13px;
	border: 1px solid #D2D9DC;
	border-radius: 4px 4px 0 0 ;
	box-shadow: inset 2px 2px 6px #EBEBEB;
}
.loginForm .submit {
	overflow: hidden;
	margin: 30px -24px 0;
	padding: 22px 24px;
	background: #F0F5F7;
	border-top: 2px solid #DDE0E8;
	border-radius: 0 0 4px 4px;
	font-size: 11px;
}
.remember input {
	vertical-align: middle;
}
.loginForm .submit button {
	float: right;
	margin-top:-8px;
	padding: 6px 20px;
	height: 30px;
	border: 1px solid #98CCE7;
	border-radius: 2px;
	color: #FFF;
	font: bold 13px Arial, sans-serif;
	background-color: #9FD7F0;
	cursor: pointer;
}
