body {
    padding: 0;
    margin: 0;
}

.main-header {
    min-height: 150px;
    background: radial-gradient(circle farthest-corner at right bottom, #e4de22 0, #ff5815 100%);
    height: 50vh;
}

.main-header img {
    position: absolute;
}
.main-header p {
    font-size: 2.2vw;
    line-height: 70vh;
    text-align: center;
    color: #fff;
    margin: auto;
}

.main-header-links a {
    text-decoration: none;
    float: right;
    font-size: 25px;
    text-align: center;
    color: #fff;
    margin: 10px;
    padding: 0;
    position: relative;
}

.main-header-links a:after {
    content: ' ';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #eb5055;
    transition: 0.3s ease;
    transform: scaleX(0);
}

.main-header-links a:hover:after {
    visibility: visible;
    transform: scaleX(1);
}

.main-header-links {
    position: absolute;
    right: 15px;
}

@media(max-height:300px) {
    .main-header p {
        line-height: 10px;
    }
}

@media(max-height:670px) {
    .search-panel p {
        display: none;
    }
    .search-panel {
        margin-top: 20px;
    }
    .search input {
        height: 1px;
    }
    .search {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media(max-width:800px) {
    .main-header p {
        font-size: 13px !important;
    }
}

.search-panel {
    position: absolute;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    left: 10vh;
    right: 10vh;
}

.search-panel p {
    text-align: left;
    font-size: 1.2vw;
    line-height: 2vh;
}

.search {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search input {
    border: none;
}

.search .input {
    width: 100%;
    padding: 8px 37px 9px 15px;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
    background: #E8E8E8;
    color: #333;
}

.myButton {
  height:10px;
  box-shadow: 0px 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color:#599bb3;
  border-radius:8px;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
  background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color:#408c99;
}
.myButton:active {
  position:relative;
  top:1px;
}

